extends  ../_part/_baseShell

block head
    title Standard Web Components
    include ../_part/_header

block main
    #fullpage
        .section.active
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../001-intro/title
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../001-intro/who
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../001-intro/book
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../001-intro/steps
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../001-intro/topics
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/step1
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/pug
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/lego
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/dashboard
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/religion
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/javascript
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/gauge
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/w3c
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/topic1
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/htmltemplate
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/topic2
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/htmlimport
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/htmlimportlate
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/topic3
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/customelement
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/standardelement
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/topic4
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/shadowdom
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/attachshadow 
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/material
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/mui
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/brokencss
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/fixedcss
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/cdn
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/steps2
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/topic5
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/lifecycle
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/topic6
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/appshell
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/lateload
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/topic7
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/businesslogic
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/compcom
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/topic8
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/cssvar
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/bem
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/prepros
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/trans
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/amp
        //- .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/ampsource
        //- amp validator
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/callback
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/promise
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/fetch
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/steps3
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/topic9
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/databinding
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/databindingpolymer
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/polymercomps
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/topseedcomps 
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/topic10
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/ssrbusiness
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/ssrcomp
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/gauge
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/browser
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/topic10
        //-.section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/phonegap

        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../400-end/commandments 
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../400-end/summary 
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../001-intro/book
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../400-end/action 

    script.
        var animate = true;
        TS.onAppReady(UIinit)

        function UIinit() {

            $('#fullpage').fullpage({
                anchors: ['title', 'who', 'book', 'steps', 'topics'
                    , 'step1', 'pug', 'lego', 'dashboard', 'religion', 'javascript', 'gauge', 'w3c'
                    , 'topic1', 'htmltemplate'
                    , 'topic2', 'htmlimport', 'htmlimportlate'
                    , 'topic3', 'customelement', 'standardelement'
                    , 'topic4', 'shadowdom', 'attachshadow'
                    /*, 'material', 'mui' 
                    , 'topic2', 'brokencss', 'fixedcss', 'bem', 'prepros' 
                    , 'topic3' 
                    , 'topic4', 'cdn'*/
                    , 'steps2', 'topic5', 'lifecycle'
                    , 'topic6', 'appshell', 'lateload'
                    , 'topic7', 'businesslogic', 'compcom'
                    , 'topic8', 'cssvar', 'bem', 'prepros'
                    , 'steps3', 'topic9', 'databinding', 'databindingpolymer', 'polymercomps', 'topseedcomps'
                    , 'topic10', 'ssrbusiness', 'ssrcomp'
                    /*, 'phonegap','trans', 'amp', 'ampsource','dom', 'callback', 'promise', 'fetch', 'gauge', 'browser'*/
                    , 'commandments', 'summary', 'book2', 'action'],
                scrollBar: true,
                /*navigation: true,
                navigationPosition: 'right',
                navigationTooltips: ['Page 1', 'Page 2', 'Page 3', 'Page 4', 'Page 5'],*/
                afterLoad: function(anchorLink, index){
                    console.log('anchorLink'+anchorLink)
                    switch (anchorLink)
                    {
                         case 'title': titleLoaded(); return
                        case 'steps': stepsLoaded(); return
                        case 'topics': topicsLoaded(); return
                        case 'step1': step1Loaded(); return
                        case 'topic1': topic1Loaded(); return
                        case 'material': materialLoaded(); return
                        case 'topic2': topic2Loaded(); return
                        case 'topic3': topic3Loaded(); return
                        case 'topic4': topic4Loaded(); return
                        case 'steps2': steps2Loaded(); return
                        case 'topic5': topic5Loaded(); return
                        case 'topic6': topic6Loaded(); return
                        case 'topic7': topic7Loaded(); return
                        case 'topic8': topic8Loaded(); return
                        case 'steps3': steps3Loaded(); return 
                        case 'topic9': topic9Loaded(); return
                        case 'topic10': topic10Loaded(); return
                        case 'commandments': commandmentsLoaded(); return

                        //default: titleLoaded(); return
                    }
                },
                onLeave: function(index, nextIndex, direction){
                    
                    //tl[index].pause();
                    switch (nextIndex)
                    {
                        //case 1: page1Setup(nextIndex>index); return true
                        //case 2: page2Setup(nextIndex>index); true
                        //case 3: page3Setup(nextIndex>index); true
                        //case 4: page5Setup(nextIndex>index); return true
                        //case 5: page5Setup(nextIndex>index); return true
                    }
                }
            });
        }

block footer
    include ../_part/_footer