img.rfid(src='/best/master/res/watermark.svg')
#smallgrad
.header--tagline
    a.header--tagline-link(rel='stylesheet', href='https://m.appthings.io') m.appthings.io
.header--tagline.header--tagline__right.mui--no-user-select We Make Web Apps Work.
    span(style='font-weight:normal') &trade;
#bar.mui--z1
#logo
    .mui--text-center
        a(href='https://m.appthings.io')
            img#logo--rfid(src='/best/master/res/rfid-lime.svg', alt='appThings Home')
    .mui--text-center
        img#logo--tag(src='/best/master/res/tag-lime.svg', alt='appThings')
