#ampsourcep
    .topicbox.topicbox-2.mui--z4 
        .topicbox--middle AMP pages are HTML with an AMP JavaScript and some custom tags. We mostly use amp-img and amp-iframe. 
    .thumb.thumb-1.mui--z1
    .thumb.thumb-2.thumb-2--selected.mui--z1
    .thumb.thumb-3.mui--z1
    .thumb-txt.thumb-txt-2 Bricks and Mortar
    //-#tbd.headline.headline__sub(style='top:27.3vw') [TBD Next Steps] 
    img#ampsource(src='../200-bricks/res/ampsource.png')

script.
    var animateMaterial = true;

    function ampLoaded(){ 
        /*if (animateMaterial)
        {
            var tl = new TimelineMax();
            tl[4] = tl;
            tl.to($('#materialp #tbd'), 3, {opacity:100, ease:Power1.easeIn}, '+=0');
            tl.play();
        }*/
    } 

    function page4Setup(animate){
        animatePage4 = animate;
        if (animatePage4)
            $('#ampsourcep #tbd').css('opacity',0);
    }

