#promisep
	.topicbox.topicbox-2.mui--z4
		.topicbox--middle Use JavaScript Promises. They get you out of Callback Hell!
	.thumb.thumb-1.mui--z1
	.thumb.thumb-2.thumb-2--selected.mui--z1
	.thumb.thumb-3.mui--z1
	.thumb-txt.thumb-txt-2 #{m2}
	img#promiseimg(src='../200-bricks/res/promise.png')
script.
	var animateMaterial = true;
	function promisemLoaded(){
	}
	function page4Setup(animate){
	}