#topic5p
    //-.headline(style='top:11.5vw') 3 Easy Steps to Best Practices
    #bx1v.box.box-1v.box-1--selected
        .box--middle 
            | Step 1:
            br
            | The basics
    #bx2v.box.box-2v.box-2--selected
        .box--middle 
            | Step 2:
            br
            | The bricks and mortar
    //-#bx3v.box.box-3v.box-3--selected
        .box--middle 
            | Step 3:
            br
            | The perspectives

    ul.step.step1
        li#a1.t--selected Apply Design Guidelines
        li#a2.t--selected Use SASS and Preprocessors
        li#a3.t--selected Use Pug for maintainable HTML
        li#a4.t--selected Go max static w/CNN for Perf.
    ul.step.step2      
        li#a5.t--selected Use AppShell and page transitions to improve perceived performance
        li#a6 Time to Glass
        li#a7 HTML vs. JavaScript
        li#a8 Business Logic
    //-ul.step.step3     
        li#a9 Web Components
        li#a10 Mobile Apps        

script.
    var animatetopic1 = true;
    function topic5Loaded(){
        if (animatetopic1)
        {
            console.log('commandmentsLoaded');
            var tl = new TimelineMax();
            tl[5] = tl;
            var bx1 = $('#topic5p #bx1v'); bx2 = $('#topic5p #bx2v'); //-bx3 = $('#topic1p #bx3v');                 

            tl.to(bx1, 0, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn});
            tl.to(bx1, 0, {opacity:100, ease:Power1.easeIn}, 0);
            tl.from(bx1, 0, {scale:.93, ease:Power1.easeIn}, 0);
            tl.call(function() {bx1.addClass("mui--z4");}, null, null, 0);
            tl.to(bx2, 0, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn}, 0);
            tl.to(bx2, 0, {opacity:100, ease:Power2.easeIn}, 0);
            tl.from(bx2, 0, {scale:.93, ease:Power1.easeIn}, 0);
            tl.call(function() {bx2.addClass("mui--z4");}, null, null, 0);
            //-tl.to(bx3, 1, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn}, 4);
            //-tl.to(bx3, 1, {opacity:100, ease:Power1.easeIn}, 4);
            //-tl.from(bx3, 1, {scale:.93, ease:Power1.easeIn}, 4);
            //-tl.call(function() {bx3.addClass("mui--z4");}, null, null, 4);
            tl.play();
        }
    }
    function page5Setup(animate){
        animatetopic1 = animate;
        if (animatetopic1)
        {
            $('#topic5p .box').css('opacity',0);
            $('#topic5p .box').css('filter', 'grayscale(100%)');
            $('#topic5p .box').css('-webkit-filter', 'grayscale(100%)');
            $('#topic5p .box').removeClass("mui--z4");
        }    
    } 
