.body {
  opacity: 1; }

.mui--z1, .screenshot, #whoami, #atclient, #abook, #wolf, #md, #muiimg, #brokencssimg, #fixedcssimg, #bemimg, #preprosimg, #pugimg, #cdnimg, #appshellimg, #transimg, #ampimg, #ampsrc, #javascr, #domimg, #callb, #promiseimg, #fetchi, #legos, #dash, #relig, #agauge, #apolymercomps, #atopseedcomps, #assrcomp, #aw3c, #abrowsersupport, #brows, #phoneg, .code, #htmlimport-code, #customelement-code, #attachshadow-code, #lateload-code, #cssvar-code, #databinding-code, #mainjs-code {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.mui--z2, #fixedcssimg, #ampimg {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.mui--z3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.mui--z4 {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.screenshot, #whoami, #atclient, #abook, #wolf, #md, #muiimg, #brokencssimg, #fixedcssimg, #bemimg, #preprosimg, #pugimg, #cdnimg, #appshellimg, #transimg, #ampimg, #ampsrc, #javascr, #domimg, #callb, #promiseimg, #fetchi, #legos, #dash, #relig, #agauge, #apolymercomps, #atopseedcomps, #assrcomp, #aw3c, #abrowsersupport, #brows, #phoneg {
  position: absolute;
  top: 21vw;
  left: 22vw;
  width: 56vw; }

#whoami {
  top: 10vw;
  left: 33vw;
  width: 45vw;
  height: 45vw; }

#atclient {
  top: 10vw;
  left: 30vw;
  width: 41.2vw;
  height: 45vw; }

#abook {
  top: 10vw;
  left: 33vw;
  width: 30.7vw;
  height: 45vw; }

#wolf {
  top: 11vw;
  left: 40vw;
  width: 20vw;
  height: 20vw; }

#stepsp .box {
  opacity: 0; }

#md {
  height: 33.6vw; }

#muiimg {
  height: 33.6vw; }

#brokencssimg {
  height: 33.6vw; }

#fixedcssimg {
  height: 28.6vw; }

#bemimg {
  height: 35.6vw; }

#preprosimg {
  height: 32.5vw; }

#pugimg {
  top: 20vw;
  left: 16vw;
  width: 67.2vw;
  height: 34.9vw; }

#cdnimg {
  left: 31vw;
  width: 36vw;
  height: 33.6vw; }

#appshellimg {
  height: 35.8vw; }

#transimg {
  left: 31vw;
  width: 36vw;
  height: 31.2vw; }

#ampimg {
  height: 33vw; }

#ampsrc {
  left: 16vw;
  width: 67.2vw;
  height: 27.6vw; }

#javascr {
  top: 20vw;
  height: 33.6vw; }

#domimg {
  left: 31vw;
  width: 36vw;
  height: 31.2vw; }

#callb {
  left: 16vw;
  width: 67.2vw;
  height: 34vw; }

#promiseimg {
  left: 31vw;
  width: 36vw;
  height: 29vw; }

#fetchi {
  height: 24.3vw; }

#legos {
  left: 16vw;
  width: 67.2vw;
  height: 31.2vw; }

#dash {
  height: 31.9vw; }

#relig {
  left: 16vw;
  width: 67.2vw;
  height: 35vw; }

#agauge {
  top: 20vw;
  height: 35.6vw; }

#apolymercomps {
  top: 20vw;
  height: 35.6vw;
  width: 59.71vw; }

#atopseedcomps {
  top: 20vw;
  height: 35.6vw;
  width: 50.6vw; }

#assrcomp {
  top: 20vw;
  height: 35.6vw;
  width: 57.77vw; }

#aw3c {
  top: 20vw;
  left: 16vw;
  height: 35.6vw;
  width: 65.28vw; }

#abrowsersupport {
  top: 23vw;
  left: 20vw;
  height: 28.5vw;
  width: 59.65vw; }

.code, #htmlimport-code, #customelement-code, #attachshadow-code, #lateload-code, #cssvar-code, #databinding-code, #mainjs-code {
  position: absolute;
  top: 21vw;
  left: 22vw;
  width: 56vw;
  background-color: white;
  padding: 10px; }

#htmlimport-code {
  font-size: 1.9vw;
  left: 19vw;
  width: 65vw;
  height: 30vw; }

#customelement-code, #attachshadow-code, #lateload-code, #cssvar-code, #databinding-code {
  font-size: 1.9vw;
  left: 18vw;
  width: 67vw;
  height: 30vw; }

#attachshadow-code {
  font-size: 1.8vw; }

#lateload-code {
  font-size: 1.48vw; }

#mainjs-code {
  font-size: 1.3vw;
  top: 20vw;
  left: 8vw;
  width: 84vw;
  height: 21vw; }

#cssvar-code {
  font-size: 1.7vw; }

#databinding-code {
  width: 73vw;
  font-size: 1.4vw; }

#ordered-list, #events-list {
  position: absolute;
  left: 18vw;
  top: 21vw;
  width: 64vw;
  color: #424242;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 2.5vw;
  font-weight: bold;
  text-align: left;
  z-index: 1; }

#ordered-list li, #events-list li {
  padding: 4px; }

#events-list {
  top: 19vw; }

#brows {
  left: 32vw;
  width: 45vw;
  height: 35vw; }

#phoneg {
  height: 35vw;
  width: 29.4vw;
  left: 35vw; }

.section {
  min-height: 56.25vw !important;
  overflow: hidden; }

#header {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%; }

#header:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 9.5vw;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(transparent));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  /* W3C */ }

#header:before {
  position: absolute;
  left: 0;
  top: 9.5vw;
  width: 98vw;
  height: 2px;
  border-radius: .4vw;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(transparent));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  content: ''; }

#smallgrad {
  position: absolute;
  left: 50vw;
  top: 1vw;
  width: 47vw;
  height: 3vw;
  border-radius: .6vw;
  display: inline-block;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.2)), to(transparent));
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0%, transparent 100%); }

.header--tagline {
  position: absolute;
  left: 1vw;
  top: 5vw;
  width: 96vw;
  color: #424242;
  font-size: 2vw;
  font-weight: bold;
  z-index: 1;
  text-align: left;
  font-family: Roboto,Arial,Helvetica,sans-serif; }

.header--tagline__right {
  text-align: right; }

#bar {
  position: absolute;
  left: 1vw;
  top: 8vw;
  width: 96vw;
  height: .7vw;
  border-radius: .3vw;
  color: #C0C0C0;
  background-color: #C0C0C0; }

.topicbox {
  position: absolute;
  left: 4vw;
  top: 10.4vw;
  width: 72vw;
  height: 7.9vw;
  color: #424242;
  background-color: #CDDC39;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 2.1vw;
  font-weight: bold;
  padding: .5vw 1.5vw;
  border-radius: .8vw;
  text-align: left;
  display: table;
  z-index: 1; }

.topicbox--middle {
  display: table-cell;
  vertical-align: middle; }

.topicbox-1 {
  background-color: rgba(202, 218, 17, 0.8); }

.topicbox-2 {
  color: white;
  background-color: rgba(47, 91, 119, 0.8); }

.topicbox-3 {
  color: #CFD8DC;
  background-color: rgba(27, 60, 75, 0.86); }

.thumb-txt {
  position: absolute;
  left: 82vw;
  top: 15.3vw;
  width: 11vw;
  height: 2vw;
  color: #424242;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 1.1vw;
  white-space: no-wrap;
  text-align: left; }

.thumb-txt-1 {
  text-align: left; }

.thumb-txt-2 {
  text-align: center; }

.thumb-txt-3 {
  text-align: right; }

.thumb {
  position: absolute;
  left: 82vw;
  top: 12vw;
  width: 3vw;
  height: 3vw;
  background-color: #C0C0C0;
  border-radius: .5vw; }

.thumb-1 {
  left: 82vw; }

.thumb-1--selected {
  background-color: rgba(202, 218, 17, 0.8); }

.thumb-2 {
  left: 86vw; }

.thumb-2--selected {
  background-color: rgba(47, 91, 119, 0.8); }

.thumb-3 {
  left: 90vw; }

.thumb-3--selected {
  background-color: rgba(27, 60, 75, 0.86); }

.box {
  position: absolute;
  color: #424242;
  background-color: #C0C0C0;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 3vw;
  font-weight: bold;
  padding: .5vw 1.5vw;
  border-radius: .8vw;
  text-align: center;
  display: table;
  z-index: 1;
  /*box-shadow: 0 0 0 0 #777;*/
  -webkit-transition: -webkit-box-shadow 3s ease-in-out;
  transition: -webkit-box-shadow 3s ease-in-out;
  -o-transition: box-shadow 3s ease-in-out;
  transition: box-shadow 3s ease-in-out;
  transition: box-shadow 3s ease-in-out, -webkit-box-shadow 3s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0; }

.box--middle {
  display: table-cell;
  vertical-align: middle; }

.box-1 {
  left: 10vw;
  top: 20vw;
  width: 24vw;
  height: 24vw; }

.box-2 {
  left: 38vw;
  top: 20vw;
  width: 24vw;
  height: 24vw; }

.box-3 {
  left: 66vw;
  top: 20vw;
  width: 24vw;
  height: 24vw; }

.box-1v {
  left: 14vw;
  top: 11vw;
  width: 24vw;
  height: 14vw; }

.box-2v {
  left: 14vw;
  top: 27vw;
  width: 24vw;
  height: 14vw; }

.box-3v {
  left: 14vw;
  top: 43vw;
  width: 24vw;
  height: 7vw; }

.step {
  position: absolute;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 3vw;
  font-weight: bold;
  line-height: 1.35em; }

.step1 {
  left: 43vw;
  top: 7.5vw; }

.step3 {
  left: 44vw;
  top: 7.5vw; }

ol {
  color: #CFD8DC;
  padding-right: 3vw; }

.t--selected {
  color: #212121; }

.box-1--selected {
  color: #212121;
  background-color: rgba(202, 218, 17, 0.8); }

.box-2--selected {
  color: white;
  background-color: rgba(47, 91, 119, 0.8); }

.box-3--selected {
  color: #CFD8DC;
  background-color: rgba(27, 60, 75, 0.86); }

.headline {
  position: absolute;
  left: 0;
  width: 100%;
  color: #424242;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  z-index: 1; }

.headline__sub {
  font-size: 2vw;
  font-weight: bold; }

.headline__sub2 {
  font-size: 2vw;
  font-weight: normal; }

.bullet {
  position: absolute;
  font-size: 2vw;
  font-weight: normal;
  text-align: left;
  width: 60vw;
  margin: 0;
  padding: 0 0 0 4vw;
  background-image: url("/web/master/res/rfid.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 3.5vw;
  background-position: 0 .33vw; }

.rfid {
  margin: auto;
  width: 100vw;
  height: 63vw;
  position: relative;
  top: -3vw;
  left: -52vw;
  overflow: hidden; }

.header--tagline-link {
  text-decoration: none;
  font-weight: normal;
  color: #424242; }

#globe {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  border-radius: 1vw;
  left: 40vw;
  margin: auto;
  width: 20vw; }

#logo {
  position: absolute;
  left: 1vw;
  top: 45.7vw; }

#logo--rfid {
  position: relative;
  width: 8vw;
  height: 4.88vw;
  left: 3vw;
  top: 0vw; }

#logo--tag {
  position: relative;
  width: 14.4vw;
  height: 4vw;
  left: 0vw;
  top: -.4vw; }

#bicolorbar1 {
  position: absolute;
  left: 0vw;
  width: 100vw;
  height: 1.7vw;
  background-color: #CDDC39; }

#bicolorbar2 {
  position: absolute;
  left: 0vw;
  width: 100vw;
  height: .8vw;
  background-color: #363636; }
