

.body {
    opacity: 1
}

.mui--z1 {box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)}
.mui--z2 {box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)}
.mui--z3 {box-shadow:0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)}
.mui--z4 {box-shadow:0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)}
 
.screenshot {
    position:absolute;
    top:21vw; 
    left:22vw;
    width:56vw;
    @extend .mui--z1;
} 
//images

#whoami {
     @extend .screenshot;
     top: 10vw;
     left: 33vw;
     width: 45vw;
     height: 45vw;
}

#atclient {
     @extend .screenshot;
     top: 10vw;
     left: 30vw;
     width: 41.2vw;
     height: 45vw;
}

#abook {
     @extend .screenshot;
     top: 10vw;
     left: 33vw;
     width: 30.7vw;
     height: 45vw;
}

#wolf {
     @extend .screenshot;
     top: 11vw;
     left: 40vw;
     width: 20vw;
     height: 20vw;
}

//animated default 
#stepsp .box {
    opacity: 0;
}

#md {
     @extend .screenshot;
     height:33.6vw;
}

#muiimg {
     @extend .screenshot;
     height:33.6vw;
}

#brokencssimg {
     @extend .screenshot;
     height:33.6vw;
}

#fixedcssimg {
     @extend .screenshot;
     height:28.6vw;
     @extend .mui--z2;
}

#bemimg {
     @extend .screenshot;
     height:35.6vw;
}

#preprosimg {
     @extend .screenshot;
     height: 32.5vw;
}

#pugimg {
     @extend .screenshot;
     top: 20vw;
     left: 16vw;
     width: 67.2vw;
     height: 34.9vw;
}

#cdnimg {
     @extend .screenshot;
     left: 31vw;
     width: 36vw;
     height: 33.6vw;
}

#appshellimg {
     @extend .screenshot;
     height: 35.8vw;
}

#transimg {
     @extend .screenshot;
     left: 31vw;
     width: 36vw;
     height: 31.2vw;
}

#ampimg {
     @extend .screenshot;
     height: 33vw;
     @extend .mui--z2;
}

#ampsrc {
    @extend .screenshot;
    left: 16vw;
    width: 67.2vw;
    height: 27.6vw;
}

#javascr {
     @extend .screenshot;
     top: 20vw;
     height: 33.6vw;
}

#domimg {
     @extend .screenshot;
     left: 31vw;
     width: 36vw;
     height: 31.2vw;
}

#callb {
     @extend .screenshot;
     left: 16vw;
     width: 67.2vw;
     height: 34vw;
}

#promiseimg {
     @extend .screenshot;
     left: 31vw;
     width: 36vw;
     height: 29vw;
}

#fetchi {
     @extend .screenshot;
     height: 24.3vw;
}

#legos {
     @extend .screenshot;
     left: 16vw;
     width: 67.2vw;
     height: 31.2vw;
}

#dash {
     @extend .screenshot;
     height: 31.9vw;
}

#relig {
     @extend .screenshot;
     left: 16vw;
     width: 67.2vw;
     height: 35vw;
}

#agauge {
     @extend .screenshot;
     top: 20vw;
     height: 35.6vw;
}

#apolymercomps {
     @extend .screenshot;
     top: 20vw;
     height: 35.6vw;
     width: 59.71vw;
}

#atopseedcomps {
     @extend .screenshot;
     top: 20vw;
     height: 35.6vw;
     width: 50.6vw;
}

#assrcomp {
     @extend .screenshot;
     top: 20vw;
     height: 35.6vw;
     width: 57.77vw;
}

#aw3c {
     @extend .screenshot;
     top: 20vw;
     left: 16vw;
     height: 35.6vw;
     width: 65.28vw;
}

#abrowsersupport {
     @extend .screenshot;
     top: 23vw;
     left: 20vw;
     height: 28.5vw;
     width: 59.65vw;
}

.code {
    position:absolute;
    top:21vw; 
    left:22vw;
    width:56vw;
    @extend .mui--z1;
    background-color: white;
    padding: 10px;
}

#htmlimport-code {
    @extend .code;
    font-size: 1.9vw; //18px;
    left: 19vw;
    width: 65vw;
    height: 30vw;
}

#customelement-code {
    @extend .code;
    font-size: 1.9vw; //18px;
    left: 18vw;
    width: 67vw;
    height: 30vw;
}

#attachshadow-code {
    @extend #customelement-code;
    font-size: 1.8vw; //17px;
}

#lateload-code {
    @extend #customelement-code;
    font-size: 1.48vw; //15px;
}

#mainjs-code {
    @extend .code;
    font-size: 1.3vw; //14px;
    top: 20vw;
    left: 8vw;
    width: 84vw;
    height: 21vw;
}

#cssvar-code {
    @extend #customelement-code;
    font-size: 1.7vw; //16px;
}

#databinding-code {
    @extend #customelement-code;
    width: 73vw;
    font-size: 1.4vw; //13px;
}


#ordered-list {
   position: absolute; 
   left: 18vw; 
   top: 21vw;
   width: 64vw; 
   color: #424242;
   font-family:Roboto,Arial,Helvetica,sans-serif;
   font-size: 2.5vw;
   font-weight: bold;
   text-align: left;
   z-index:1;
}

#ordered-list li {
    padding: 4px
}

#events-list {
    @extend #ordered-list;
    top: 19vw;
}

#brows {
    @extend .screenshot;
    left: 32vw;
    width: 45vw;
    height: 35vw;
}



#phoneg {
     @extend .screenshot;
     height: 35vw;
     width: 29.4vw;
     left: 35vw;
}

.section {
    min-height:56.25vw !important;
    overflow: hidden;
}

#header{
    position:relative;
    display:inline-block;
    width:100%;
    height:100%;
    
}
#header:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100vw; height:9.5vw;
    display:inline-block;
    background: linear-gradient(to right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

#header:before {
	position:absolute;
    left:0; top:9.5vw;
    width:98vw; height:2px;
    border-radius: .4vw;
	z-index: 2;
	background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	content: '';
}

#smallgrad {
    position:absolute;
    left:50vw; top:1vw;
    width:47vw; height:3vw;
    border-radius: .6vw;
    display:inline-block;
    background: linear-gradient(to left, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); 
}

.header--tagline { 
    position: absolute; 
    left: 1vw; top: 5vw;
    width: 96vw; 
    color: #424242;
    font-size: 2vw;
    font-weight: bold;
    z-index:1;
    text-align: left;
    font-family:Roboto,Arial,Helvetica,sans-serif 
}

.header--tagline__right { 
     text-align: right;
}

#bar {
    position: absolute; 
    left: 1vw; top: 8vw;
    width: 96vw; height:.7vw;
    border-radius: .3vw;
    color: #C0C0C0;
    background-color: #C0C0C0;
    
}

.topicbox {
   position: absolute; 
   left: 4vw; top:10.4vw;
   width: 72vw; height:7.9vw;
   color: #424242;
   background-color: #CDDC39;
   font-family:Roboto,Arial,Helvetica,sans-serif;
   font-size: 2.1vw;
   font-weight: bold;
   padding: .5vw 1.5vw;
   border-radius: .8vw;
   text-align: left;
   display: table; 
   z-index:1;
}
.topicbox--middle {
   display: table-cell; 
   vertical-align: middle;
}

.topicbox-1 {
    background-color: rgba(202,218,17,.8); //#CDDC39;
}

.topicbox-2 {
    color: white;
    background-color: rgba(47,91,119,.8); //#607D8B; 
}

.topicbox-3 {
    color: #CFD8DC;
    background-color: rgba(27,60,75,.86); //#455A64;  
}

.thumb-txt {
    position: absolute; 
    left: 82vw; top:15.3vw;
    width: 11vw; height:2vw;
    color: #424242;
    font-family:Roboto,Arial,Helvetica,sans-serif;
    font-size: 1.1vw;
    white-space: no-wrap;
    text-align: left;
}

.thumb-txt-1 {
    text-align: left;
}

.thumb-txt-2 {
    text-align: center;
}

.thumb-txt-3 {
    text-align: right;
}

.thumb {
    position: absolute; 
    left: 82vw; top:12vw;
    width: 3vw; height:3vw;
    background-color: #C0C0C0;
    border-radius: .5vw;
}

.thumb-1 {
    left: 82vw; 
}


.thumb-1--selected {
    background-color: rgba(202,218,17,.8); //#CDDC39;
}    

.thumb-2 {
   left: 86vw; 
}

.thumb-2--selected {
    background-color: rgba(47,91,119,.8); //
}

.thumb-3 {
   left: 90vw; 
}

.thumb-3--selected {
    background-color: rgba(27,60,75,.86); //#455A64;   
}

.box {
   position: absolute; 
   //left: 8vw; 
   //width: 24vw; height:24vw;
   color: #424242;
   background-color: #C0C0C0;
   font-family:Roboto,Arial,Helvetica,sans-serif;
   font-size: 3vw;
   font-weight: bold;
   padding: .5vw 1.5vw;
   border-radius: .8vw;
   text-align: center;
   display: table; 
   z-index:1;
   /*box-shadow: 0 0 0 0 #777;*/
    transition: box-shadow 3s ease-in-out;
    filter: grayscale(100%);
    opacity: 0;
}
.box--middle {
   display: table-cell; 
   vertical-align: middle;
}

.box-1 { 
    left: 10vw; top:20vw;
    width: 24vw; height:24vw; }
.box-2 {
    left: 38vw; top:20vw;
     width: 24vw; height:24vw; }
.box-3 {
    left: 66vw; top:20vw;
    width: 24vw; height:24vw; }


.box-1v {
    left: 14vw; top: 11vw;
    width: 24vw; height:14vw; }
.box-2v {
    left: 14vw; top: 27vw;
    width: 24vw; height:14vw; }
.box-3v {
    left: 14vw; top: 43vw;
    width: 24vw; height:7vw; }

.step {
    position: absolute; 
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 3vw;
    font-weight: bold;
    line-height: 1.35em;
} 

.step1 {left: 43vw; top: 7.5vw;}
.step3 {left: 44vw; top: 7.5vw;}

ol {
    color: #CFD8DC;
    padding-right: 3vw;
}

.t--selected {
    color: #212121;
}   


.box-1--selected {
    color: #212121;
    background-color: rgba(202,218,17,.8); //#CDDC39; 
}

.box-2--selected {
    color: white;
    background-color: rgba(47,91,119,.8); //#607D8B; 
}

.box-3--selected {
    color: #CFD8DC;
    background-color: rgba(27,60,75,.86); //#455A64;   
}


.headline { 
   position: absolute; 
   left: 0; 
   width: 100%; 
   color: #424242;
   font-family:Roboto,Arial,Helvetica,sans-serif;
   font-size: 4vw;
   font-weight: bold;
   text-align: center;
   z-index:1;
}

.headline__sub {
    font-size: 2vw;
    font-weight: bold;
}    

.headline__sub2 {
    font-size: 2vw;
    font-weight: normal;
} 

.bullet {
    position: absolute;
    font-size: 2vw;
    font-weight: normal;
    text-align: left;
    width: 60vw;
    margin: 0;
	padding: 0 0 0 4vw;
	background-image: url("/web/master/res/rfid.svg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 3.5vw;
    background-position: 0 .33vw;
    
}

.rfid {
    margin:auto;
    width:100vw;
    height:63vw;
    position:relative;
    top:-3vw;left:-52vw;
    overflow:hidden;
}

.header--tagline-link {
    text-decoration: none;
    font-weight: normal;
    color: #424242;
}

#globe {
    z-index:1;
    position: absolute; 
    overflow: hidden;
    border-radius: 1vw;
    
    left: 40vw;
    margin:auto;
    width: 20vw;
    
}

#logo {
    position: absolute; 
    left: 1vw;
    top: 45.7vw;
}

#logo--rfid {
    position:relative;
	width: 8vw; //10vw;
	height:4.88vw; //6.1vw;
    left:3vw;
    top: 0vw;
}

#logo--tag {
    position:relative;
	width:14.4vw;
	height:4vw;
    left: 0vw;
    top:-.4vw;

    
}

#bicolorbar1 {
    position: absolute; 
    left: 0vw; 
    width: 100vw; height:1.7vw;
    background-color: #CDDC39;
}
#bicolorbar2 {
    position: absolute; 
    left: 0vw; 
    width: 100vw; height:.8vw;
    background-color: #363636;
}

