extends  ../_part/_baseShell

block head
    title #{pagetitle}
    include ../_part/_header

block main
    #fullpage
        .section.active
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../001-intro/title
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../001-intro/who
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../001-intro/steps
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../001-intro/topics
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/step1
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/topic1
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/s1what
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/jamdef
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/jambenefits
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/prod
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/serverless
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/staticgen
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/declarative
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/pug
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/express
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/codepen
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/metabake 
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/topic2
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/repeat
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/yaml
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/yamldata
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/cli
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/jstrans
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/topic3
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/apidir
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/apisearch
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/nbakeapi
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/topic4
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../100-basics/ide

        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/steps2
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/s2what
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/topic5
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/hello
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/layout
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/cssbroken
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/sass
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/presass
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/frontend
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/frontendtop10
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/loader
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/loadjs
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/topic6
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/blogsite
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/datatables
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/itemsjson
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/pugtemplate
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/blogselect
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/firestore
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/rest
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/topic7
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/turbolinks
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/appshell
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/router
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/spaevents
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/cordova
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/appstore
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/topic8
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/jsframeworks
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/poly
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/riottag
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/riotcompile
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../200-bricks/riotimport

        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/steps3
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/s3what
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/topic9
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/cloudbuild
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/mountduck
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/cloudapi
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/metabuild
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/docker
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/typescript
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/topic10
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/admin
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/blogadmin
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/adminide
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../300-perspectives/webide
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../400-end/commandments 
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../400-end/plans 
        .section
            #header
                .mui--text-center
                    include ../_part/_top
                    include ../400-end/action 

    script.
        var animate = true;
        TS.onAppReady(UIinit)

        function UIinit() {

            $('#fullpage').fullpage({
                anchors: ['title'
                    , 'who', 'steps', 'topics'
                    , 'step1'
                    , 'topic1', 's1what', 'jamdef', 'jambenefits', 'prod', 'serverless', 'staticgen', 'declarative', 'pug', 'express', 'codepen', 'metabake'
                    , 'topic2', 'repeat', 'yaml', 'yamldata', 'cli',' jstrans'
                    , 'topic3', 'apidir', 'apisearch', 'nbakeapi' 
                    , 'topic4', 'ide'
                    , 'steps2', 's2what'
                    , 'topic5', 'hello', 'layout', 'cssbroken', 'sass', 'presasss', 'frontend', 'frontendtop10', 'loader', 'loadjs'
                    , 'topic6', 'blogsite', 'datatables', 'itemsjson', 'pugtemplate', 'blogselect', 'firestore', 'rest'
                    , 'topic7', 'turbolinks', 'appshell', 'router', 'spaevents', 'cordova', 'appstore'
                    , 'topic8',  'jsframeworks', 'poly', 'riottag', 'riotcompile', 'riotimport'
                    , 'steps3', 's3what'
                    , 'topic9', 'cloudbuild', 'mountduck', 'cloudapi', 'metabuild', 'docker', 'typescript'
                    , 'topic10', 'admin', 'blogadmin', 'adminide', 'webide' 
                    , 'commandments', 'plans', 'action'
                    ],
                scrollBar: true,
                /*navigation: true,
                navigationPosition: 'right',
                navigationTooltips: ['Page 1', 'Page 2', 'Page 3', 'Page 4', 'Page 5'],*/
                afterLoad: function(anchorLink, index){
                    console.log('anchorLink'+anchorLink)
                    switch (anchorLink)
                    {
                         case 'title': titleLoaded(); return
                        case 'steps': stepsLoaded(); return
                        case 'topics': topicsLoaded(); return
                        case 'step1': step1Loaded(); return
                        case 'topic1': topic1Loaded(); return
                        case 'topic2': topic2Loaded(); return
                        case 'topic3': topic3Loaded(); return
                        case 'topic4': topic4Loaded(); return
                        case 'steps2': steps2Loaded(); return
                        case 'topic5': topic5Loaded(); return
                        case 'topic6': topic6Loaded(); return
                        case 'topic7': topic7Loaded(); return
                        case 'topic8': topic8Loaded(); return
                        case 'steps3': steps3Loaded(); return 
                        case 'topic9': topic9Loaded(); return
                        case 'topic10': topic10Loaded(); return
                        case 'commandments': commandmentsLoaded(); return 

                        //default: titleLoaded(); return
                    }
                },
                onLeave: function(index, nextIndex, direction){
                    
                    //tl[index].pause();
                    switch (nextIndex)
                    {
                        //case 1: page1Setup(nextIndex>index); return true
                        //case 2: page2Setup(nextIndex>index); true
                        //case 3: page3Setup(nextIndex>index); true
                        //case 4: page5Setup(nextIndex>index); return true
                        //case 5: page5Setup(nextIndex>index); return true
                    }
                }
            });
        }

block footer
    include ../_part/_footer