#topic3p
    //-.headline(style='top:11.5vw') 3 Easy Steps to Best Practices
    #bx1v.box.box-1v.box-1--selected.mui--z2
        .box--middle 
            //-| Pillar I:
            //-br
            | Nbake
    //-#bx2v.box.box-2v.box-2--selected
        .box--middle 
            | Pillar II:
            br
            | Topseed
    //-#bx3v.box.box-3v.box-3--selected
        .box--middle 
            | Pillar III:
            br
            | META

    ol.step.step1
        li#a1 Use HTML Templates
        li#a2.t--selected Use HTML Imports
        li#a3 Don't use Custom Elements (yet)
        li#a4 Shadow DOM
        //-li#a5.t--selected Lifecycle
            li#a6.t--selected Loading/AppShell
            li#a7.t--selected #{t8}
            li#a8.t--selected Styling/CLI
            li#a9.t--selected Polymer
            li#a10.t--selected SSR

script.
    function topic3Loaded(){

        var bx1 = $('#topic3p #bx1v')
        bx1.css('opacity', 1);
        bx1.css('filter', 'grayscale(0%)');

        var a1 = $('#topic3p #a2');
        var a2 = $('#topic3p #a3');

        if (animate)
        {
            var tl = new TimelineMax();
            tl.to(a2, 2, {css: {className:'+=t--selected'}}, 2); 
            tl.to(a1, 2, {css: {className:'-=t--selected'}}, 2); 
            tl.play();
        }
        else
        {
           a2.addClass("t--selected"); 
        }
    }
    function topic3Setup(){
        if (animate)
        {
            $('#topic3p .box').css('opacity',0);
            $('#topic3p .box').css('filter', 'grayscale(100%)');
            $('#topic3p .box').css('-webkit-filter', 'grayscale(100%)');
            $('#topic3p .box').removeClass("mui--z4");
        }    
    } 
