#gaugep

    .topicbox.topicbox-3.mui--z4 
        .topicbox--middle A standard is finally emerging: Standard Web Components (Polymer is already built on top of it). It's DOM-centric:
    include thumbs3
    img#gaugeimg(src='../300-perspectives/res/gauge.png')
