#gaugep

    .topicbox.topicbox-3.mui--z4 
        .topicbox--middle Try Server-side Rendering (SSR) for performance. We write Universal Business Logic (runs on server and in browser).

    .thumb.thumb-1.mui--z1
    .thumb.thumb-2.mui--z1
    .thumb.thumb-3.thumb-3--selected.mui--z1
    .thumb-txt.thumb-txt-3 Perspectives
    //-#tbd.headline.headline__sub(style='top:27.3vw') [TBD Next Steps] 
    //img#agauge(src='../300-perspectives/res/gauge.png')
    pre#databinding-code.
        const express = require('express')
        const router = express.Router()
        const cheerio = require('<b>cheerio</b>') //core jQuery for the server
        const doT = require('dot')
        const ListBusiness = require('../../../root/page/list/ListBusiness')
        ...
        router.get('/', function (req, res) {
            const requestedResource = ROOT + '/page/list/indexS.pug'
            var $ = U.getAsDoc(requestedResource) // cheerio.load(htmlContent)
            var sb = <b>ListBusiness()</b>
            sb.ssrList('#myList', '#ListTemplate', $, doT)
            .then(function(){
                res.status(200).send( $.html() ).end()
            })
        })

script.
    var animateMaterial = true;

    function gaugeLoaded(){ 
        /*if (animateMaterial)
        {
            var tl = new TimelineMax();
            tl[4] = tl;
            tl.to($('#materialp #tbd'), 3, {opacity:100, ease:Power1.easeIn}, '+=0');
            tl.play();
        }*/
    } 

    function page4Setup(animate){
        animatePage4 = animate;
        if (animatePage4)
            $('#gaugep #tbd').css('opacity',0);
    }

