#dashboardp
    .topicbox.topicbox-3.mui--z4 
        .topicbox--middle Web components need to be insulated to avoid CSS bleed. Shadow DOM is coming to the rescue. Loose coupling is vital in communication.
    .thumb.thumb-1.mui--z1
    .thumb.thumb-2.mui--z1
    .thumb.thumb-3.thumb-3--selected.mui--z1
    .thumb-txt.thumb-txt-3 Perspectives
    //-#tbd.headline.headline__sub(style='top:27.3vw') [TBD Next Steps] 
    img#dash(src='../300-perspectives/res/dashboard.png')

script.
    var animateMaterial = true;

    function legoLoaded(){ 
        /*if (animateMaterial)
        {
            var tl = new TimelineMax();
            tl[4] = tl;
            tl.to($('#materialp #tbd'), 3, {opacity:100, ease:Power1.easeIn}, '+=0');
            tl.play();
        }*/
    } 

    function page4Setup(animate){
        animatePage4 = animate;
        if (animatePage4)
            $('#dashboardp #tbd').css('opacity',0);
    }

