#steps3p
    //.headline(style='top:11.5vw') 3 Easy Steps to Best Practices
    #bx1.box.box-1.box-1--selected
        .box--middle 
            | Step I:
            br
            | The Basics
    #bx2.box.box-2.box-2--selected 
        .box--middle 
            | Step II:
            br
            | The Bricks and Mortar
    #bx3.box.box-3.box-3--selected 
        .box--middle 
            | Step III:
            br
            | The Perspectives

script.
    var animatePage5 = true;
    function steps3Loaded(){
        if (animatePage5)
        {
            var tl = new TimelineMax();
            tl[5] = tl;
            var bx1 = $('#steps3p #bx1'); bx2 = $('#steps3p #bx2'); bx3 = $('#steps3p #bx3');                 

            tl.to(bx1, 0, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn});
            tl.to(bx1, 0, {opacity:100, ease:Power1.easeIn}, 0);
            tl.from(bx1, 0, {scale:.93, ease:Power1.easeIn}, 0);
            tl.call(function() {bx1.addClass("mui--z4");}, null, null, 0);
            tl.to(bx2, 0, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn}, 01);
            tl.to(bx2, 0, {opacity:100, ease:Power2.easeIn}, 0);
            tl.from(bx2, 0, {scale:.93, ease:Power1.easeIn}, 0);
            tl.call(function() {bx2.addClass("mui--z4");}, null, null, 0);
            tl.to(bx3, 1, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn}, 1);
            tl.to(bx3, 1, {opacity:100, ease:Power1.easeIn}, 1);
            tl.from(bx3, 1, {scale:.93, ease:Power1.easeIn}, 1);
            tl.call(function() {bx3.addClass("mui--z4");}, null, null, 1);
            tl.play();
        }
    }
    function page5Setup(animate){
        animatePage5 = animate;
        if (animatePage5)
        {
            $('#steps3p .box').css('opacity',0);
            $('#steps3p .box').css('filter', 'grayscale(100%)');
            $('#steps3p .box').css('-webkit-filter', 'grayscale(100%)');
            $('#steps3p .box').removeClass("mui--z4");
        }    
    } 
