#topic10p
    //-.headline(style='top:11.5vw') 3 Easy Steps to Best Practices
    #bx1v.box.box-1v.box-1--selected
        .box--middle 
            //-| Step 1:
            //-br
            | The Basics
    #bx2v.box.box-2v.box-2--selected
        .box--middle 
            //-| Step 2:
            //-br
            | The Bricks and Mortar
    #bx3v.box.box-3v.box-3--selected
        .box--middle 
            //-| Step 3:
            //-br
            | The Perspectives

    ul.step.step1
        li#a1 Apply Design Guidelines
        li#a2 Use SASS and Preprocessors
        li#a3 Use Pug for maintainable HTML
        li#a4 Go max static w/CNN for Perf.
        li#a5 Use AppShell and page transitions
        li#a6 Use AMP and please visitors
        li#a7 Be DOM-centric and designer-friendly
        li#a8 Use PageBusiness and Fetch
        li#a9.t--selected Use web components to be LEGO
        li#a10.t--selected Use Phonegap/in-app browser for efficiency    

script.
    var animatetopic1 = true;
    function topic10Loaded(){
        if (animatetopic1)
        {
            var tl = new TimelineMax();
            tl[5] = tl;
            var bx1 = $('#topic10p #bx1v'); bx2 = $('#topic10p #bx2v'); bx3 = $('#topic10p #bx3v');                 

            tl.to(bx1, 0, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn});
            tl.to(bx1, 0, {opacity:100, ease:Power1.easeIn}, 0);
            tl.from(bx1, 0, {scale:.93, ease:Power1.easeIn}, 0);
            tl.call(function() {bx1.addClass("mui--z4");}, null, null, 0);
            tl.to(bx2, 0, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn}, 0);
            tl.to(bx2, 0, {opacity:100, ease:Power2.easeIn}, 0);
            tl.from(bx2, 0, {scale:.93, ease:Power1.easeIn}, 0);
            tl.call(function() {bx2.addClass("mui--z4");}, null, null, 0);
            tl.to(bx3, 1, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn});
            tl.to(bx3, 1, {opacity:100, ease:Power1.easeIn}, 0);
            tl.from(bx3, 1, {scale:.93, ease:Power1.easeIn}, 0);
            tl.call(function() {bx3.addClass("mui--z4");}, null, null, 0);
            tl.play();
        }
    }
    function page5Setup(animate){
        animatetopic1 = animate;
        if (animatetopic1)
        {
            $('#topic10p .box').css('opacity',0);
            $('#topic10p .box').css('filter', 'grayscale(100%)');
            $('#topic10p .box').css('-webkit-filter', 'grayscale(100%)');
            $('#topic10p .box').removeClass("mui--z4");
        }    
    } 
