#actionp
    img#wolf(src='../400-end/res/wolf.jpg')
    #sub.headline.headline__sub(style='top:33.5vw') If you liked this and can use help, hire us!
    #sub2.headline.headline__sub2(style='top:39vw') 
        | Email: 
        a(href='https://m.appthings.io/en/contact/' target='_blank') hi@appthings.io
    #sub2.headline.headline__sub2(style='top:42.5vw') 
        | Call: (951) 897-4008
    #sub2.headline.headline__sub2(style='top:45.8vw') 
        a(href='https://m.appthings.io' target='_blank') https://m.appthings.io