#gaugep
    .topicbox.topicbox-2.mui--z4 
        .topicbox--middle We keep #{t8} (e.g. fetching data) outside of Components.
    .thumb.thumb-1.mui--z1
    .thumb.thumb-2.thumb-2--selected.mui--z1
    .thumb.thumb-3.mui--z1
    .thumb-txt.thumb-txt-2 #{m2}
    //img#agauge(src='../300-perspectives/res/gauge.png')
    pre#cssvar-code.
        block main
            .mui-container-fluid
                p
                p List as component:
                list-el(title='My Custom List Title') loading...
            script.
                TS.<b>loadOnAppReady</b>('/page/list/ListBusiness.js', loadComps) 
                function UIinit() { 
                    <b>const sb = ListBusiness()
                    ...
                    sb.list('list-el')</b> //fetch data and pass to Component
                }
                function loadComps() {
                    TW.loadComp('/_webComp/List.html').then(UIinit)
                }

script.
    var animateMaterial = true;

    function gaugeLoaded(){ 
        /*if (animateMaterial)
        {
            var tl = new TimelineMax();
            tl[4] = tl;
            tl.to($('#materialp #tbd'), 3, {opacity:100, ease:Power1.easeIn}, '+=0');
            tl.play();
        }*/
    } 

    function page4Setup(animate){
        animatePage4 = animate;
        if (animatePage4)
            $('#gaugep #tbd').css('opacity',0);
    }

