#gaugep
    .topicbox.topicbox-2.mui--z4 
        .topicbox--middle Use CSS Variables and '@apply' to custom-style Components from the outside. (*Polymer/ShadyCSS polyfill)
    .thumb.thumb-1.mui--z1
    .thumb.thumb-2.thumb-2--selected.mui--z1
    .thumb.thumb-3.mui--z1
    .thumb-txt.thumb-txt-2 Bricks and Mortar
    //img#agauge(src='../300-perspectives/res/gauge.png')
    pre#cssvar-code.
        template#xlist-el
            style.
                .list-el__title { color: var(<b>--list-el__title-color</b>, black); }
                .list-el__list li { color: orange; }
                .list-el__list a { cursor: pointer; color: #2196F3; }
                #title { <b>@apply --mymixin</b> }
                
            #title.list-el__title My List Title
            .list-el__list
                #myList

        ...
script.
    var animateMaterial = true;

    function gaugeLoaded(){ 
        /*if (animateMaterial)
        {
            var tl = new TimelineMax();
            tl[4] = tl;
            tl.to($('#materialp #tbd'), 3, {opacity:100, ease:Power1.easeIn}, '+=0');
            tl.play();
        }*/
    } 

    function page4Setup(animate){
        animatePage4 = animate;
        if (animatePage4)
            $('#gaugep #tbd').css('opacity',0);
    }

