#preprosp
    .topicbox.topicbox-2.mui--z4 
        .topicbox--middle We use Prepros as a SASS Preprocessor.
    .thumb.thumb-1.mui--z1
    .thumb.thumb-2.thumb-2--selected.mui--z1
    .thumb.thumb-3.mui--z1
    .thumb-txt.thumb-txt-2 Bricks and Mortar
    //-#tbd.headline.headline__sub(style='top:27.3vw') [TBD Next Steps] 
    img#preprosimg(src='../100-basics/res/prepros.png')

script.
    var animateMaterial = true;

    function preprosLoaded(){ 
        /*if (animateMaterial)
        {
            var tl = new TimelineMax();
            tl[4] = tl;
            tl.to($('#materialp #tbd'), 3, {opacity:100, ease:Power1.easeIn}, '+=0');
            tl.play();
        }*/
    } 

    function page4Setup(animate){
        animatePage4 = animate;
        if (animatePage4)
            $('#preprosp #tbd').css('opacity',0);
    }

