#step1p
    //.headline(style='top:11.5vw') 3 Easy Steps to Best Practices
    #bx1.box.box-1.box-1--selected
        .box--middle 
            | Step 1:
            br
            | The Basics


script.
    var animatePage5 = true;
    function step1Loaded(){
        if (animatePage5)
        {
            var tl = new TimelineMax();
            tl[5] = tl;
            var bx1 = $('#step1p #bx1'); 

            tl.to(bx1, 3, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn});
            tl.to(bx1, 3, {opacity:100, ease:Power1.easeIn}, 0);
            tl.from(bx1, 3, {scale:.93, ease:Power1.easeIn}, 0);
            tl.call(function() {bx1.addClass("mui--z4");}, null, null, 0);
            tl.play();
        }
    }
    function page5Setup(animate){
        animatePage5 = animate;
        if (animatePage5)
        {
            $('#step1p .box').css('opacity',0);
            $('#step1p .box').css('filter', 'grayscale(100%)');
            $('#step1p .box').css('-webkit-filter', 'grayscale(100%)');
            $('#step1p .box').removeClass("mui--z4");
        }    
    } 
