doctype html
html(lang='en-us')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')

        script(src='//cdn.jsdelivr.net/js-signals/1.0.0/signals.min.js')
        script(src='/_js/libJs/head.load.min.js' )
        script(src='/_js/setup.js' ) 
        
        link(rel='icon', href='/favicon.ico')
        link( href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
        link( href='//fonts.googleapis.com/icon?family=Material+Icons')
        link( href='/_sass/main.css')
        
        link( href='//cdn.jsdelivr.net/jquery.fullpage/2.8.9/jquery.fullPage.min.css')
         
        link( href='/en/struts2what/_dev.css')
	    
    body(style='margin:0')
        #fullpage
            .section.active
                #header
                    .mui--text-center
                        include ../master/index
                        include ../001-title/index
            .section
                #header
                    .mui--text-center
                        include ../master/index
                        include ../100-basics/index
            .section
                #header
                    .mui--text-center
                        include ../master/index
                        include ../200-bricks/index
            .section
                #header
                    .mui--text-center
                        include ../master/index
                        include ../300-perspectives/index

        script.
            head.load('/en/struts2what/fullpageSupport.js')     
               
            _act.addOnce(function(arg1, arg2) {
                init();
                return false
            })

            var tl = new Array(); 
            function init(){
                $('#fullpage').fullpage({
                    /*anchors: ['page1', 'page2', 'page3', 'page4', 'page5'],*/
                    sectionsColor: ['#f2f2f2', '#f2f2f2', '#f2f2f2', '#f2f2f2', '#f2f2f2'],
                    scrollBar: true,
                    /*navigation: true,
                    navigationPosition: 'right',
                    navigationTooltips: ['Page 1', 'Page 2', 'Page 3', 'Page 4', 'Page 5'],*/
                    afterLoad: function(anchorLink, index){
                        switch (index)
                        {
                            case 1: page1Loaded(); return
                            case 2: page2Loaded(); return
                            case 3: page3Loaded(); return
                            case 4: page5Loaded(); return
                            case 5: page5Loaded(); return
                        }
                    },
                    onLeave: function(index, nextIndex, direction){
                          
                        //tl[index].pause();
                        switch (nextIndex)
                        {
                            case 1: page1Setup(nextIndex>index); return true
                            case 2: page2Setup(nextIndex>index); true
                            case 3: page3Setup(nextIndex>index); true
                            case 4: page5Setup(nextIndex>index); return true
                            case 5: page5Setup(nextIndex>index); return true
                        }
                    }

        
                });
            }
